.item-todo {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #F3F3F3;
  justify-content: center;
}

.btn-todo-state {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  
  &--complete {
    background-image: url('../../images/icons/icon_state_todo_complete@2x.png');
  }

  &--incomplete {
    background-image: url('../../images/icons/icon_state_todo_incomplete@2x.png');
  }
}

.todo-name-area {
  position: relative;
  flex-basis: 280px;
  padding-left: 20px;
}

.txt-todo-name {
  padding-left: 3px;
  vertical-align: middle;
}

.todo-name-input {
  width: 230px;
  padding: 2px 30px 2px 3px;
}

.btn-todo-name {
  position: absolute;

  &-cancel {
    top: 2px;
    right: 30px;
  }
  &-confirm {
    top: 2px;
    right: 5px;
  }
}

.todo-item-action {
  position: relative;
}

.btn-todoitem-edit {
  position: absolute;
  top: 2px;
  left: -30px;
}

.btn-todoitem-delete {
  position: relative;
  top: 2px;
}