.list-todo {
  display: flex;
  flex-direction: column;
}

.item-todo {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #F3F3F3;
  justify-content: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn-todo-state {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  
  &--complete {
    background-image: url('../../images/icons/icon_state_todo_complete@2x.png');
  }

  &--incomplete {
    background-image: url('../../images/icons/icon_state_todo_incomplete@2x.png');
  }
}

.todo-name-area {
  position: relative;
  flex-basis: 280px;
  padding-left: 20px;
}

.txt-todo-name {
  padding-left: 3px;
  vertical-align: middle;
}

.todo-name-input {
  width: 230px;
  padding: 2px 30px 2px 3px;
}

.btn-todo-name {
  position: absolute;

  &-cancel {
    top: 2px;
    right: 30px;
  }
  &-confirm {
    top: 2px;
    right: 5px;
  }
}

.todo-item-action {
  position: relative;
}

.btn-todoitem-edit {
  position: absolute;
  top: 2px;
  left: -30px;
}

.btn-todoitem-delete {
  position: relative;
  top: 2px;
}

.list-todo-ani {
  .item-todo--appear { // todoListView에 나타날때
    animation: itemTodoAppear .3s;
    animation-iteration-count: 1;
    -webkit-animation: itemTodoAppear .3s;
}
  .item-todo--disappear { // todoListView에서 사라질 때
    animation: itemTodoDisppear .3s;
    animation-iteration-count: 1;
    -webkit-animation: itemTodoDisppear .3s;
  }
}

@keyframes itemTodoAppear {
  0% {
    background-color: white;
  }

  50% {
    background-color: #6565ff;
  }

  100% {
    background-color: white;
  }
}

@keyframes itemTodoDisppear {
  0% {
    background-color: white;
  }

  50% {
    background-color: #ff6a6a;
  }

  100% {
    background-color: white;
    opacity: 0;
  }
}

// .item-todo--appear { // todo가 생성될 때
//   background-color: blue;
// }
// .item-todo--disappear { // todo가 완료되었을 떄
//   background-color: red;
// }